/** 
 * This style file is used in Gtk <= 3.6
 * To solve gi._glib.GError: Junk at end of value
 */
GtkTextView.lrc_tv {
    font-size: 24;
    background-color: rgba(0, 0, 0, 0);
}

.info-label {
  color: rgb(136, 139, 132);
  font-size: 9;
}
